# Ignore any cloned Kompakkt related repositories
Common
Komponents
Kompressor
KRP
Plugins
Processing
Repo
Server
Viewer

# Ignore build and deployment related files
node_modules
uploads
.env
compose.override.yml

# Ignore log files and additional documentation
logs
docs

# Ignore test results and temporary files
tests/**/.*
test-results
