{
    admin off
}

:80 {
    request_body {
        max_size 4096MB
    }

    # Viewer at /viewer
    handle /viewer/* {
        reverse_proxy viewer:4200
    }

    # Server at /server
    handle /server/* {
        uri strip_prefix /server
        reverse_proxy server:3030
    }

    handle /swagger/* {
        reverse_proxy server:3030
    }

    # Repo at root (/)
    handle /* {
        reverse_proxy repo:4200
    }
}
